*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/zp.obo
src/ontology/zp.owl
src/ontology/zp-base.owl
src/curation/tmp
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
.DS_Store
src/.DS_Store
src/ontology/zp-merged.owl
.idea
.idea/vcs.xml
src/archive/catalog-v001.xml
src/curation/editseed.txt
src/curation/reserved_iris.txt
src/curation/id_map_terms.txt
src/patterns/data/auto/*_terms.txt
src/patterns/data/manual/*_terms.txt
src/patterns/data/zfin/*.txt
src/ontology/tmp/
catalog-v001.xml
/zp.*
/zp-*
src/ontology/zp-*