*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/zp.obo
src/ontology/zp.owl
src/ontology/zp-base.owl
src/curation/tmp
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
.DS_Store
src/.DS_Store
src/ontology/zp-merged.owl
.idea
.idea/vcs.xml
src/archive/catalog-v001.xml
src/curation/editseed.txt
src/curation/reserved_iris.txt
src/curation/id_map_terms.txt
src/patterns/data/auto/*_terms.txt
src/patterns/data/manual/*_terms.txt
src/patterns/data/zfin/*.txt
src/patterns/data/labels/*.txt
src/patterns/data/anatomy/*.txt
src/patterns/data/manual/*.txt
src/patterns/data/zfin/*.ofn
src/patterns/data/labels/*.ofn
src/patterns/data/anatomy/*.ofn
src/patterns/data/manual/*.ofn
src/ontology/tmp/
catalog-v001.xml
/zp.*
/zp-*
src/ontology/zp-*
src/curation/id_map_zfin copy.tsv
src/ontology/df_id_map_dup_id.tsv
src/ontology/id_map_rem.txt
src/scripts/__pycache__/zp_lib.cpython-36.pyc
src/ontology/prepare_release.sh
